<!DOCTYPE html>
<head>
<title>Experiment Instructions</title>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}" />

<style type="text/css">
.instrucStyle {
}
</style>

</head>
<body>

<h1>Data Visualization Study </h1>

<h2>Section 2: Image Puzzle Task</h2>

<p>
In this portion of the study, you will view an interface which contains
several parts: a square window showing a portion of a collage of bird images; a
description of a picture to find within the collage (or a "target picture");
and two function buttons called "FOUND" and "FINISH".
</p>

<p>
There is a single target picture within the collage.  The main task is to
<b>find this target picture</b>. You can <b>drag within the visualization
window</b> to see more of the image collage. There may be a delay before some
images appear in the collage.
</p>

<p>
The target picture is somewhere on the left side of your starting position in the collage. A diagram of the location of the target picture is provided below:
</p>
<img src="{{url_for('static',filename='img/uncertain_diagram.jpg')}}" alt="target picture location" height="350" width="500"> 

<p>
When you find the target picture, move the target picture to the center
of the visualization window, and click on the "FOUND" button. The web page will
pop out a window to confirm whether you have made progress in the task or not.
The target picture will be clearly marked as found after the confirmation. You
can stop finding by clicking the "FINISH" button. Once you confirm to finish, you
will not be able to interact with the collage anymore.
</p>

<p>
When you are ready to start, please press "Continue" below.
</p>

<form method = "post" action="{{url_for('renderPuzzle')}}">
  <p>&nbsp;</p>
    <p align = "right">
      <input type= "hidden" name = "id" id = "id" value = "DEBUGGING" /> 
      <input type="hidden" name = "image_id" value = "DEBUGGING" />
      <input type= "submit"  style="width: 150px;margin-left:160px;font-size:16px;" id= "Accept" value = "Continue" onclick="clickFunc()">
    </p>

</form>

<script type="text/javascript">
  // store waldo data
  //sessionStorage.id = "{{guid}}";
  document.getElementById("id").value = sessionStorage.id
  function clickFunc() {
    alert("NOTE: The target picture is somewhere to the left of your starting position. Please click OK to confirm and move on to the task.");
  };
</script>
