<html>
<head>
	<title>Consent Form</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<style>
			section{
				margin: 5%;
			}
		</style>

</head>
<body>
<div>
<center>
<img width="100px" src="{{url_for('static',filename='img/New_UMD_Globe.png')}}">
<p>
<b>Institutional Review Board</b><br>
1204 Marie Mount Hall | 7814 Regents Drive | College Park, MD 20742 | 301-405-4212 | irb@umd.edu
</p>
</center>
</div>
<section>
<h1>Project Title</h1>
<p>Studying Visualization Performance Through Image Puzzles</p>

<div id="intro">

<h1>Purpose of the Study</h1>
<p>

This research is being conducted by the Principal Investigator, Leilani Battle at the University of Maryland, College Park.  We are inviting you to participate in this research project because you are at least 18 years of age, you have not participated previously in our Amazon Mechanical Turk experiment (which is filtered automatically using mechanisms through Turk), and have prior experience with data analysis or data visualization tools.  The purpose of this research project is to understand how data analysts and data scientists use data visualization tools to analyze different datasets, to inform the design of future data analysis tools.

</p>

</div>

<h1>Procedures</h1>

<div id="participation">

<p>
If you choose to participate, we will brief you on the specific details of this study, including the problems you will be solving and the tool(s) you will be using. Participation in the study is expected to take 12 minutes, and time estimates for each procedure are given below. If you volunteer to participate in this study, we would ask you to do the following things:
</p>
<ul>
<li>
  Complete 2 questionnaires (5 minutes):
  <ul>
    <li>Pre-Test Questionnaire: collecting demographic information</li>
    <li>Post-Test Questionnaire: collecting feedback on the visualization tool</li>
  </ul>
</li>
<li>
  Learn how to use our visualization tool (2 minutes)
  <ul>
    <li>Interact with an interface similar to Google Maps</li>
  </ul>
</li>
<li>Solve an image-based puzzle using our visualization tool (5 minutes)</li>
  
</ul>

<p>
Your interactions (e.g., button presses, mouse clicks, etc.) with our visualization tool will be recorded. Your survey answers and your quiz answers will also be recorded.
</p>
<p>
You will receive $2.27 for your participation.  Your participation in this experiment should take no longer than 12 minutes.
</p>
</div>

<h1>Potential Risks and Discomforts</h1>

<div id="purpose">

<p>
There are no known risks associated with participation in this study.
</p>

</div>

<h1>Potential Benefits</h1>

<p>
This research is not designed to benefit you personally.  We hope that, in the future, other people might benefit from this study through improved human computer interaction techniques as well as better information visualization techniques.
</p>
<p>
The collected data will benefit the research community as a public resource for analyzing how people interact with visualization tools.
</p>

</div>

<h1>Confidentiality</h1>
<div>
<p>
Any potential loss of confidentiality will be minimized by storing data in secure files only accessible through password-protected accounts of the study investigators and their students.
</p>

<p>
Note that there is no way for us to identify you, beyond the public information associated with your MTurk worker ID. We will only collect MTurk worker IDs for the purposes of distributing compensation and your worker ID will not be associated with survey responses.
</p>

<p>
Your recorded interactions and answers to study quizzes and questionnaires will be anonymized and made available as a public resource for current and future data science research. All other collected information (contact information, demographic information) will be kept confidential. You may reach out to Leilani Battle (leilani@cs.umd.edu) at any time during or after the study, if you would like your data to be removed.
</p>

<p>
If we write a report or article about this research project, your identity will be protected to the maximum extent possible.  Your information may be shared with representatives of the University of Maryland, College Park or governmental authorities if you or someone else is in danger or if we are required to do so by law.
</p>
</div>

<div>
<h1>Compensation</h1>
<p>
You will receive $2.27. You will be responsible for any taxes assessed on the compensation.  
</p>
</div>

<div>
<h1>Right to Withdraw and Questions</h1>
<p>
Your participation in this research is completely voluntary.  You may choose not to take part at all.  If you decide to participate in this research, you may stop participating at any time.  If you decide not to participate in this study or if you stop participating at any time, you will not be penalized or lose any benefits to which you otherwise qualify. 
</p>

<p>
If you decide to stop taking part in the study, if you have questions, concerns, or complaints, or if you need to report an injury related to the research, please contact the principal investigator, Leilani Battle at: University of Maryland, 3173 A.V. Williams Building, College Park, MD, phone: (301) 405-8412, email: leilani@cs.umd.edu.
</p>

</div>

<div>
<h1>Participant Rights </h1>
<p>
If you have questions about your rights as a research participant or wish to report a research-related injury, please contact: 
</p>

<p>
<center>
<b>
University of Maryland College Park<br>
Institutional Review Board Office<br>
1204 Marie Mount<br>
College Park, Maryland, 20742<br>
E-mail: irb@umd.edu<br>
Telephone: 301-405-0678
</b>
</center>
</p>

<p>
This research has been reviewed according to the University of Maryland, College Park IRB procedures for research involving human subjects.
</p>

</div>

<div>
<h1>Statement of Consent</h1>
<p>
By clicking the “I Consent” button below, you indicate that you are at least 18 years of age; you have read this consent form or have had it read to you; your questions have been answered to your satisfaction and you voluntarily agree to participate in this research study. Please save a copy of this page for your records.
</p>

<p>
If you agree to participate, please click the button below.
</p>

</div>

<form id="consentForm" action="/website/save_responses/consent">

<div id="consent-div">

<label id="consent-check-label" class="checkbox">

<input id="consent-check" name="consent-check" type="checkbox" />I have read and understand the information above, and have decided to participate voluntarily in this study.
<br>
<input type="button" name="click" value="I Consent" class="hidden btn-success" id="continueButton" onclick="window.location='{{url_for('renderPreTest')}}'" style="margin-left: 5%">

</label>

</div>

</form>
	
</section>
<!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script>
  	$('#consent-check').click(function(){
  		if(document.getElementById("consent-check").checked){
  			$('#continueButton').removeClass("hidden")
  		}
  		else{
  			alert("Please agree to the terms to continue")
  			$('#continueButton').addClass("hidden")
  		}
  	})
  </script>
<p>
IRBNet Package: 1385763-1
</p>
</body>
</html>
